
{% include 'commons/header.html' %}
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
      <form role="form">
        <h2>Customer <small>Registration.</small></h2>
        <hr class="colorgraph">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group">
              <input type="text" name="first_name" id="first_name" class="form-control input-lg" placeholder="First Name" tabindex="1">
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group">
              <input type="text" name="last_name" id="last_name" class="form-control input-lg" placeholder="Last Name" tabindex="2">
            </div>
          </div>
        </div>
        <div class="form-group">
          <input type="text" name="department" class="form-control input-lg" placeholder="Department" tabindex="3">
        </div>
        <div class="form-group">
          <input type="text" name="position" class="form-control input-lg" placeholder="Position" tabindex="4">
        </div>
        <div class="form-group">
          <input type="text" name="personInCharge"  class="form-control input-lg" placeholder="Person in Charge" tabindex="5">
        </div>
        <div class="form-group">
          <input type="text" name="phoneNumber" class="form-control input-lg" placeholder="Phone Number" tabindex="6">
        </div>
        <div class="form-group">
          <input type="text" name="postalCode" class="form-control input-lg" placeholder="Postal Code" tabindex="7">
        </div>
        <div class="form-group">
          <input type="text" name="add1" class="form-control input-lg" placeholder="Sales Office Address 1" tabindex="8">
        </div>
        <div class="form-group">
          <input type="text" name="add2" class="form-control input-lg" placeholder="Sales Office Address 2" tabindex="9">
        </div>
        <div class="form-group">
          <input type="text" name="add3" class="form-control input-lg" placeholder="Sales Office Address 3" tabindex="10">
        </div>
        <div class="form-group">
          <input type="email" name="email" id="add1" class="form-control input-lg" placeholder="Email" tabindex="11">
        </div>
        <div class="form-group">
          <input type="text" name="paymentTerms" id="add1" class="form-control input-lg" placeholder="Payment Terms" tabindex="12">
        </div>
        <hr class="colorgraph">
        <div class="row">
          <div class="col-xs-12 col-md-6"><input type="submit" value="Register" class="btn btn-primary btn-block btn-lg" tabindex="7"></div>
        </div>
      </form>
    </div>
  </div>
</div>
