
  @font-face {
    font-family: 'gothic';
    src:  url('/fonts/gothic/webfonts/leaguegothic-regular-webfont.eot');
    src:  url('/fonts/gothic/webfonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
          url('/fonts/gothic/webfonts/leaguegothic-regular-webfont.woff') format('woff'),
          url('/fonts/gothic/webfonts/leaguegothic-regular-webfont.ttf')  format('truetype'),
          url('/fonts/gothic/webfonts/leaguegothic-regular-webfont.svg#gothic') format('svg');
  }

  @font-face {
    font-family: 'josefinslab-light';
    src:  url('/fonts/josefinfull/josefinslab-light-webfont.eot');
    src:  url('/fonts/josefinfull/josefinslab-light-webfont.eot?#iefix') format('embedded-opentype'),
          url('/fonts/josefinfull/josefinslab-light-webfont.woff') format('woff'),
          url('/fonts/josefinfull/josefinslab-light-webfont.ttf')  format('truetype'),
          url('/fonts/josefinfull/josefinslab-light-webfont.svg#josefinslab-Light') format('svg');
  }

  @font-face {
    font-family: 'josefinslab-bold';
    src:  url('/fonts/josefinfull/josefinslab-bold-webfont.eot');
    src:  url('/fonts/josefinfull/josefinslab-bold-webfont.eot?#iefix') format('embedded-opentype'),
          url('/fonts/josefinfull/josefinslab-bold-webfont.woff') format('woff'),
          url('/fonts/josefinfull/josefinslab-bold-webfont.ttf')  format('truetype'),
          url('/fonts/josefinfull/josefinslab-bold-webfont.svg#josefinslab-bold') format('svg');
  }


  @font-face {
    font-family: 'josefinslab-regular';
    src:  url('/fonts/josefinfull/josefinslab-regular-webfont.eot');
    src:  url('/fonts/josefinfull/josefinslab-regular-webfont.eot?#iefix') format('embedded-opentype'),
          url('/fonts/josefinfull/josefinslab-regular-webfont.woff') format('woff'),
          url('/fonts/josefinfull/josefinslab-regular-webfont.ttf')  format('truetype'),
          url('/fonts/josefinfull/josefinslab-regular-webfont.svg#josefinslab-regular') format('svg');
  }

  @font-face {
    font-family: 'SFCartoonistHandSCRegular';
    src:  url('/fonts/cartoonist/SF_Cartoonist_Hand-webfont.eot');
    src:  url('/fonts/cartoonist/SF_Cartoonist_Hand-webfont.eot?#iefix') format('embedded-opentype'),
          url('/fonts/cartoonist/SF_Cartoonist_Hand-webfont.woff') format('woff'),
          url('/fonts/cartoonist/SF_Cartoonist_Hand-webfont.ttf') format('truetype'),
          url('/fonts/cartoonist/SF_Cartoonist_Hand-webfont.svg#SFCartoonistHandSCRegular') format('svg');
          font-weight: normal;
          font-style: normal;
  }
