
  {% include 'commons/header.html' %}
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
        <form name="registerSalesRepresentative" ng-submit="vm.registerSalesRepresentative(vm.firstName, vm.lastName, vm.postalCode,
        vm.salesOfficeAdd1, vm.salesOfficeAdd2, vm.salesOfficeAdd3, vm.salesOfficePhoneNumber)"
        ng-controller='SalesRepresentativeRegistration' novalidation>
          <h2>Sales Representative <small>Registration.</small></h2>
          <hr class="colorgraph">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
              <div class="form-group">
                <input type="text" name="firstName" class="form-control input-md" placeholder="First Name" ng-model='vm.firstName'>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
              <div class="form-group">
                <input type="text" name="lastName" class="form-control input-md" placeholder="Last Name" ng-model='vm.lastName'>
              </div>
            </div>
          </div>
          <div class="form-group">
            <input type="text" name="postalCode" class="form-control input-md" placeholder="Postal Code" ng-model='vm.postalCode'>
          </div>
          <div class="form-group">
            <input type="text" name="salesOfficeAdd1" class="form-control input-md" placeholder="Sales Office Address 1" ng-model='vm.salesOfficeAdd1'>
          </div>
          <div class="form-group">
            <input type="text" name="salesOfficeAdd2" class="form-control input-md" placeholder="Sales Office Address 2" ng-model='vm.salesOfficeAdd2'>
          </div>
          <div class="form-group">
            <input type="text" name="salesOfficeAdd3" class="form-control input-md" placeholder="Sales Office Address 3" ng-model='vm.salesOfficeAdd3'>
          </div>
          <div class="form-group">
            <input type="text" name="salesOfficePhoneNumber" class="form-control input-md" placeholder="Sales Office Phone Number" ng-model='vm.salesOfficePhoneNumber'>
          </div>
          <hr class="colorgraph">
          <div class="row">
            <div class="col-xs-12 col-md-6">
              <button type="submit" class="btn btn-primary btn-block btn-lg">Register</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
