<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref='primary'>MOE3</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown" ng-class="{active : '<$ title $>' ==  'salesRepresentativeRegistration' || '<$ title $>' == 'customerRegistration'
          || '<$ title $>' == 'quotationRegistration' || '<$ title $>' == 'invoiceRegistration'}">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">New Registrations <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li ng-class="{active : '<$ title $>' ==  'salesRepresentativeRegistration'}">
              <a ui-sref='salesRepresentativeRegistration'>Sales Representative Registration</a>
            </li>
            <li ng-class="{active : '<$ title $>' ==  'customerRegistration'}">
              <a ui-sref='customerRegistration'>Customer Registration</a>
            </li>
            <li ng-class="{active : '<$ title $>' ==  'quotationRegistration'}">
              <a ui-sref='quotationRegistration'>Quotation Registration</a>
            </li>
            <li ng-class="{active : '<$ title $>' ==  'invoiceRegistration'}">
              <a ui-sref='invoiceRegistration'>Invoice Registration</a>
            </li>
          </ul>
        </li>
        <li class="dropdown" ng-class="{active : '<$ title $>' ==  'salesRepresentativeListing' ||
          '<$ title $>' == 'customerList'}">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">View/Edit<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li ng-class="{active : '<$ title $>' ==  'salesRepresentativeListing'}">
              <a ui-sref='salesRepresentativeListing' target="_self">Sales Representative Listing</a>
            </li>
            <li ng-class="{active : '<$ title $>' ==  'customerList'}">
              <a ui-sref='customerList'>Customer Listing</a>
            </li>
            <li><a href="#">Quotation Listing</a></li>
            <li><a href="#">Invoice Listing</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Analysis<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Sales Forecast</a></li>
            <li><a href="#">Actual Sales Analysis</a></li>
            <li><a href="#">Unpaid Invoice Listing</a></li>
            <li><a href="#">Sales Ranking by Custome/Sales Representative</a></li>
          </ul>
        </li>
      </ul>
      <ul class='nav navbar-nav navbar-right' ng-controller='Strap as vm'>
        <li ng-hide='vm.isAuthenticated()'>
          <a href='' ng-click='vm.registerUserStrap()' data-animation="am-fade-and-scale" data-placement="center">Register</a>
        </li>
        <li ng-show='vm.isAuthenticated()'>
          <a href='' ng-click='vm.logout()' data-animation="am-fade-and-scale" data-placement="center">Logout</a>
        </li>
        <li ng-hide='vm.isAuthenticated()' class="dropdown login">
          <a href='#' class="dropdown-toggle" data-toggle="dropdown" data-animation="am-fade-and-scale" data-placement="center">
            Log-in
            <span class="caret"></span>
          </a>
          <ul class="login dropdown-menu" role="menu">
            <li class='local-login text-center'>
              <a href="#" ng-click="vm.logInUserStrap()">
                <span class='ion-android-happy'></span>
                Local
              </a>
            </li>
            <li class='login-facebook text-center'>
              <a href="#" ng-click="vm.authenticate('facebook')">
                <span class='ion-social-facebook'></span>
                Sign in with Facebook
              </a>
            </li>
            <li class='google-plus text-center'>
              <a href="#" ng-click="vm.authenticate('google')">
                <span class='ion-social-googleplus'></span>
                Sign in with Google
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<alertSignUp></alertSignUp>
