<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref='primary'>MOE3</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown active">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">New Registrations <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li class='active'><a ui-sref='salesRepresentativeRegistration'>Sales Representative Registration</a></li>
            <li><a ui-sref='customerRegistration'>Customer Registration</a></li>
            <li><a ui-sref='quotationRegistration'>Quotation Registration</a></li>
            <li><a ui-sref='invoiceRegistration'>Invoice Registration</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">View/Edit<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a ui-sref='salesRepresentativeListing'>Sales Representative Listing</a></li>
            <li><a href="#">Customer Listing</a></li>
            <li><a href="#">Quotation Listing</a></li>
            <li><a href="#">Invoice Listing</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Analysis<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Sales Forecast</a></li>
            <li><a href="#">Actual Sales Analysis</a></li>
            <li><a href="#">Unpaid Invoice Listing</a></li>
            <li><a href="#">Sales Ranking by Custome/Sales Representative</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-right" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="username">
          <input type="text" class="form-control" placeholder="password">
        </div>
        <button type="submit" class="btn btn-default">Login</button>
      </form>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
