<nav class="navbar navbar-inverse navbar-sm header" role="navigation" ng-cloak>
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
      </button>
      <a class="navbar-brand" ui-sref='primary'>Mcube</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-left">
        <li class="dropdown" ng-class="{active : '<$ title $>' ==  'salesRepresentativeRegistration' || '<$ title $>' == 'customerRegistration'
          || '<$ title $>' == 'quotationRegistration' || '<$ title $>' == 'invoiceRegistration'}">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">New Registrations <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li ui-sref-active="active">
              <a ui-sref='salesRepresentativeRegistration'>Sales Representative Registration</a>
            </li>
            <li ui-sref-active="active">
              <a ui-sref='customerRegistration'>Customer Registration</a>
            </li>
            <li ui-sref-active="active">
              <a ui-sref='quotationRegistration'>Quotation Registration</a>
            </li>
            <li ui-sref-active="active">
              <a ui-sref='registration'>Invoice Registration</a>
            </li>
          </ul>
        </li>
        <li class="dropdown" ng-class="{active : '<$ title $>' ==  'salesRepresentativeListing' ||
          '<$ title $>' == 'customerList'}">
          <!-- ng-class="{active : '<$ title $>' ==  'salesRepresentativeListing' ||
          '<$ title $>' == 'customerList'}" -->
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">View/Edit<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li ng-class="{active : '<$ title $>' ==  'salesRepresentativeListing'}">
              <a ui-sref='salesRepresentativeListing' target="_self">Sales Representative Listing</a>
            </li>
            <li ui-sref-active="active">
              <a ui-sref='customerList' target="_self">Customer Listing</a>
            </li>
            <li ui-sef-active="active">
              <a ui-sref="quotationList" target="_self">Quotation Listing</a>
            </li >
            <li ui-sef-active="active">
              <a ui-sref="invoiceList" target="_self">Invoice Listing</a>
            </li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Analysis<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Sales Forecast</a></li>
            <li><a href="#">Actual Sales Analysis</a></li>
            <li><a href="#">Unpaid Invoice Listing</a></li>
            <li><a href="#">Sales Ranking by Custome/Sales Representative</a></li>
          </ul>
        </li>
        <li class="dropdown" ng-controller="Others as vm">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Others<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#" ng-click="vm.addInvoiceFromAddress()">Invoice From Address</a></li>
            <li><a href="#" ng-click="vm.addInvoiceToAddress()">Invoice To Address</a></li>
            <li><a href="#" ng-click="">Wire Instructions</a></li>
          </ul>
        </li>
      </ul>
      <ul class='nav navbar-nav navbar-right' ng-controller='Register as vm'>
        <li ng-hide='vm.isAuthenticated()'>
          <a href='#' ng-click='vm.registerUser()'>Register</a>
        </li>
        <li ng-show='vm.isAuthenticated()'>
          <a href='' ng-click='vm.logout()'>Logout</a>
        </li>
        <li ng-hide='vm.isAuthenticated()' class="dropdown login1" ng-controller="Signin as vm">
          <a href='#' class="dropdown-toggle" data-toggle="dropdown">
            Log-in
            <span class="caret"></span>
          </a>
          <ul class="login1 dropdown-menu" role="menu">
            <li class='local-login text-center'>
              <a href="#" ng-click="vm.loginUser()">
                <span class='ion-android-happy'></span>
                Local
              </a>
            </li>
            <li class='login-facebook text-center'>
              <a href="#" ng-click="vm.authenticate('facebook')">
                <span class='ion-social-facebook'></span>
                Sign in with Facebook
              </a>
            </li>
            <li class='google-plus text-center'>
              <a href="#" ng-click="vm.authenticate('google')">
                <span class='ion-social-googleplus'></span>
                Sign in with Google
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
