 <div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
   <div class="modal-content">
    <form name="form" novalidate>
     <div class="modal-header">
      <p class="modal-title"> UNAUTHORIZED </p>
     </div>
     <div class="modal-body">
       <h4 class="modal-title"> You don't have any access in this partricular Resources </h4>
     </div>
     <div class="modal-footer">
      <button type="button" class="btn btn-default" ng-click="$hide()"> Close </button>
     </div>
    </form>
   </div>
  </div>
 </div>
