.customerRegistration button {
  margin-bottom: 20px;
}
.quotationRegistration .addItem {
  margin-bottom: 10px;
}
.quotationRegistration .delete {
  margin-left: 3px;
}
.editable-click,
a.editable-click {
  border-bottom: none;
}
.colorgraph {
  height: 2px;
  border-top: 0;
  background: #357ebd;
  border-radius: 5px;
}
.form-group {
  margin: 0;
}
.datepicker.dropdown-menu {
  border: 2px solid #1abc9c;
}
.datepicker.dropdown-menu .btn-today {
  color: #fff;
  background-color: #2ecc71;
}
.datepicker.dropdown-menu .btn-primary {
  color: #fff;
  background-color: #16a085;
}
.datepicker.dropdown-menu .btn {
  text-indent: 7px;
}
.datepicker.dropdown-menu button,
.timepicker.dropdown-menu button {
  color: #000;
  border: 0;
  padding-left: 0; /* makes the text left aligned /
    margin: 2px; / more space on small screen tablet for easy selection*/
  background: #fff;
}
.datepicker.dropdown-menu button:hover {
  background: #1abc9c;
}
alert-info {
  position: fixed;
  z-index: 999;
  top: 35%;
  width: 100%;
  margin-top: -50px;
  margin-left: -15px;
}
.ui-view-container {
  position: relative;
}
[ui-view].ng-enter,
[ui-view].ng-leave {
  position: absolute;
  left: 0;
  right: 0;
  transition: all 0.7s ease-in-out;
}
[ui-view].ng-enter {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
[ui-view].ng-enter-active {
  opacity: 1;
  -ms-filter: none;
  -webkit-filter: none;
          filter: none;
}
[ui-view].ng-leave {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
[ui-view].ng-leave-active {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
span.twitter-typeahead .tt-dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,0.15);
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0,0,0,0.175);
  background-clip: padding-box;
}
span.twitter-typeahead .tt-suggestion > p {
  display: block;
  padding: 3px 20px;
  margin-bottom: 0;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}
span.twitter-typeahead .tt-suggestion > p:hover,
span.twitter-typeahead .tt-suggestion > p:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  background-color: #428bca;
}
span.twitter-typeahead .tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #428bca;
}
span.twitter-typeahead {
  width: 100%;
}
.input-group span.twitter-typeahead {
  display: block !important;
}
.input-group span.twitter-typeahead .tt-dropdown-menu {
  top: 32px !important;
}
.input-group.input-group-lg span.twitter-typeahead .tt-dropdown-menu {
  top: 44px !important;
}
.input-group.input-group-sm span.twitter-typeahead .tt-dropdown-menu {
  top: 28px !important;
}
.header .navbar-brand {
  padding-right: 0;
  margin-right: 30px;
}
.header li > a {
  font-weight: 100;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 0;
}
.navbar {
  border-radius: 0;
  margin-bottom: 0;
}
.navbar-nav.navbar-left:first-child > li:first-child a {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
@media (min-width: 768px) {
  .navbar-collapse .navbar-nav.navbar-left:first-child > li:first-child a {
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
  }
}
@media (min-width: 768px) {
  .navbar-collapse .navbar-nav.navbar-right:last-child > .dropdown:last-child > a {
    border-radius: 0;
  }
}
@media (min-width: 768px) {
  .navbar-collapse .navbar-nav.navbar-right:last-child {
    margin-right: 0;
  }
}
.footer {
  background-color: #34495e;
}
.footer img {
  margin-top: 10px;
}
.footer .copyright {
  margin-top: 5px;
  font-weight: 100;
  font-size: 12px;
  color: #fff;
}
.invoice {
  padding-bottom: 50px;
  background-color: #ecf0f1;
}
.invoice .editOne alert-invoice-update {
  position: fixed;
  z-index: 999;
  top: 35%;
  left: 35%;
  margin-top: -50px;
  margin-left: -100px;
}
.invoice .fromAddressViewList alert-invoice-address-update {
  position: fixed;
  top: 45%;
  width: 100%;
  z-index: 999;
  margin-top: -50px;
  margin-left: -15px;
}
.invoice .fromAddressViewList .header-image {
  height: 300px;
  margin-top: 50px;
  background-image: url("/images/ensure-success.jpg");
  background-position: center center;
  background-size: cover;
}
.invoice .fromAddressViewList .header-image .product-header h1 {
  color: #ecf0f1;
  font-weight: 300;
}
.invoice .fromAddressViewList .header-image .product-header p {
  color: #bdc3c7;
  font-weight: 100;
  font-size: 20px;
}
.invoice .registration alert-invoice-registration {
  position: fixed;
  top: 45%;
  width: 100%;
  z-index: 999;
  margin-top: -50px;
  margin-left: -15px;
}
.invoice .registration .am-collapse {
  -webkit-animation-duration: 0.5s !important;
  -o-animation-duration: 0.5s !important;
  animation-duration: 0.5s !important;
  -webkit-animation-timing-function: ease !important;
  -o-animation-timing-function: ease !important;
  animation-timing-function: ease !important;
  -webkit-animation-fill-mode: backwards !important;
  -o-animation-fill-mode: backwards !important;
  animation-fill-mode: backwards !important;
  overflow: hidden;
}
.invoice .registration .body {
  margin-top: 40px;
  background-color: #ecf0f1;
}
.invoice .registration .form-group {
  position: relative;
}
.invoice .registration .form-group .lookup {
  padding: 0;
}
.invoice .registration .form-group .lookup .glyphicon {
  position: absolute;
  right: 0;
  padding: 50px 12px;
}
.invoice .registration .form-group .lookup .glyphicon-eye-open:hover:before {
  cursor: pointer;
}
.invoice .registration .header-image {
  height: 300px;
  margin-top: 50px;
  background-image: url("/images/ensure-success.jpg");
  background-position: center center;
  background-size: cover;
}
.invoice .registration .header-image .product-header h1 {
  color: #ecf0f1;
  font-weight: 300;
}
.invoice .registration .header-image .product-header p {
  color: #bdc3c7;
  font-weight: 100;
  font-size: 20px;
}
.invoice .registration label {
  font-weight: 300;
  color: #34495e;
}
.invoice .registration .panel-group {
  margin-top: 40px;
}
.invoice .registration .panel-group .panel-title > a {
  color: #428bca;
  text-decoration: none;
}
.invoice .registration .panel-group .panel-title > a:hover {
  text-decoration: none;
  cursor: pointer;
}
.invoice .registration .panel-group .panel-title a:not(:first-child) {
  position: relative;
  top: -4px;
  margin-right: 5px;
}
.invoice .registration .personInCharge label {
  padding-left: 0;
}
.invoice .registration .save button {
  width: 100%;
  margin-top: 5px;
}
.invoice .registration .save .form-group {
  margin-top: 5px;
}
.invoice .registration .save .warning {
  color: #c0392b;
}
.invoice .registration .select2-container {
  min-width: 120px;
  max-width: 120px;
  margin-left: 4px;
}
.invoice .select2DropDownInvoiceRegistration {
  min-width: 130px !important;
}
.invoice .toAddessViewList alert-invoice-address-update {
  position: fixed;
  top: 45%;
  width: 100%;
  z-index: 999;
  margin-top: -50px;
  margin-left: -15px;
}
.invoice .toAddessViewList .header-image {
  height: 300px;
  margin-top: 50px;
  background-image: url("/images/ensure-success.jpg");
  background-position: center center;
  background-size: cover;
}
.invoice .toAddessViewList .header-image .product-header h1 {
  color: #ecf0f1;
  font-weight: 300;
}
.invoice .toAddessViewList .header-image .product-header p {
  color: #bdc3c7;
  font-weight: 100;
  font-size: 20px;
}
.invoice .viewInvoiceAddress label {
  font-size: 16px;
  color: #e74c3c;
}
.invoice .viewList alert-invoice-pdf-download,
.invoice .viewList alert-invoice-update-status {
  position: fixed;
  z-index: 999;
  top: 35%;
  left: 45%;
  margin-top: -50px;
  margin-left: -100px;
}
.invoice .viewList .body {
  margin-top: 40px;
  background-color: #ecf0f1;
}
.invoice .viewList .header-image {
  height: 300px;
  margin-top: 50px;
  background-image: url("/images/ensure-success.jpg");
  background-position: center center;
  background-size: cover;
}
.invoice .viewList .header-image .product-header h1 {
  color: #ecf0f1;
  font-weight: 300;
}
.invoice .viewList .header-image .product-header p {
  color: #bdc3c7;
  font-weight: 100;
  font-size: 20px;
}
.invoice .viewList thead > tr > th:first-child {
  width: 240px;
}
.invoice .viewList .select2-container {
  min-width: 120px;
  max-width: 120px;
  margin-left: 4px;
}
.invoice .viewList .top-margin {
  position: relative;
  top: 8px;
}
.select2DropDown {
  min-width: 130px !important;
}
.salesRepresentative {
  padding-bottom: 50px;
  background-color: #ecf0f1;
}
.salesRepresentative .registration .body {
  padding-top: 50px;
}
.salesRepresentative .registration .header-image {
  height: 300px;
  margin-top: 50px;
  background-image: url("/images/ensure-success.jpg");
  background-position: center center;
  background-size: cover;
}
.salesRepresentative .registration .header-image .product-header h1 {
  color: #ecf0f1;
  font-weight: 300;
}
.salesRepresentative .registration .header-image .product-header p {
  color: #bdc3c7;
  font-weight: 100;
  font-size: 20px;
}
.salesRepresentative .registration input {
  margin-bottom: 5px;
}
