.customerRegistration button {
  margin-bottom: 20px;
}
.quotationRegistration .addItem {
  margin-bottom: 10px;
}
.quotationRegistration .delete {
  margin-left: 3px;
}
@font-face {
  font-family: 'gothic';
  src: url("/fonts/gothic/webfonts/leaguegothic-regular-webfont.eot");
  src: url("/fonts/gothic/webfonts/leaguegothic-regular-webfont.eot?#iefix") format('embedded-opentype'), url("/fonts/gothic/webfonts/leaguegothic-regular-webfont.woff") format('woff'), url("/fonts/gothic/webfonts/leaguegothic-regular-webfont.ttf") format('truetype'), url("/fonts/gothic/webfonts/leaguegothic-regular-webfont.svg#gothic") format('svg');
}
@font-face {
  font-family: 'josefinslab-light';
  src: url("/fonts/josefinfull/josefinslab-light-webfont.eot");
  src: url("/fonts/josefinfull/josefinslab-light-webfont.eot?#iefix") format('embedded-opentype'), url("/fonts/josefinfull/josefinslab-light-webfont.woff") format('woff'), url("/fonts/josefinfull/josefinslab-light-webfont.ttf") format('truetype'), url("/fonts/josefinfull/josefinslab-light-webfont.svg#josefinslab-Light") format('svg');
}
@font-face {
  font-family: 'josefinslab-bold';
  src: url("/fonts/josefinfull/josefinslab-bold-webfont.eot");
  src: url("/fonts/josefinfull/josefinslab-bold-webfont.eot?#iefix") format('embedded-opentype'), url("/fonts/josefinfull/josefinslab-bold-webfont.woff") format('woff'), url("/fonts/josefinfull/josefinslab-bold-webfont.ttf") format('truetype'), url("/fonts/josefinfull/josefinslab-bold-webfont.svg#josefinslab-bold") format('svg');
}
@font-face {
  font-family: 'josefinslab-regular';
  src: url("/fonts/josefinfull/josefinslab-regular-webfont.eot");
  src: url("/fonts/josefinfull/josefinslab-regular-webfont.eot?#iefix") format('embedded-opentype'), url("/fonts/josefinfull/josefinslab-regular-webfont.woff") format('woff'), url("/fonts/josefinfull/josefinslab-regular-webfont.ttf") format('truetype'), url("/fonts/josefinfull/josefinslab-regular-webfont.svg#josefinslab-regular") format('svg');
}
@font-face {
  font-family: 'SFCartoonistHandSCRegular';
  src: url("/fonts/cartoonist/SF_Cartoonist_Hand-webfont.eot");
  src: url("/fonts/cartoonist/SF_Cartoonist_Hand-webfont.eot?#iefix") format('embedded-opentype'), url("/fonts/cartoonist/SF_Cartoonist_Hand-webfont.woff") format('woff'), url("/fonts/cartoonist/SF_Cartoonist_Hand-webfont.ttf") format('truetype'), url("/fonts/cartoonist/SF_Cartoonist_Hand-webfont.svg#SFCartoonistHandSCRegular") format('svg');
  font-weight: normal;
  font-style: normal;
}
.invoiceRegistration .form-group {
  position: relative;
}
.invoiceRegistration .form-group .lookup {
  padding: 0;
}
.invoiceRegistration .form-group .lookup .glyphicon {
  position: absolute;
  right: 0;
  padding: 50px 12px;
}
.invoiceRegistration .form-group .lookup .glyphicon-eye-open:hover:before {
  cursor: pointer;
}
.invoiceRegistration label {
  font-size: 16px;
  color: #5f5c5c;
}
.invoiceRegistration label.gothic {
  font-size: 22px;
  color: #428bca;
}
.invoiceRegistration .header {
  font-size: 3em;
  color: #428bca;
}
.invoiceRegistration button.gothic {
  font-weight: 900;
  color: #428bca;
}
.invoiceRegistration input {
  font-size: 16px;
  font-weight: 900;
  color: #333;
}
.invoiceRegistration textarea {
  font-size: 16px;
  font-weight: 900;
  color: #333;
}
.invoiceRegistration .addItem {
  margin-bottom: 10px;
}
.invoiceRegistration .addItem .btn {
  color: #16a085;
  font-weight: 800;
}
.invoiceRegistration .save {
  margin-bottom: 10px;
}
.invoiceRegistration .save .form-group {
  margin-bottom: 10px;
}
.invoiceRegistration .save .form-group input {
  color: #e74c3c;
}
.invoiceRegistration .delete {
  margin-left: 3px;
  margin-right: 3px;
}
.invoiceRegistration .am-collapse {
  -webkit-animation-duration: 0.3s !important;
  -o-animation-duration: 0.3s !important;
  animation-duration: 0.3s !important;
  -webkit-animation-timing-function: ease !important;
  -o-animation-timing-function: ease !important;
  animation-timing-function: ease !important;
  -webkit-animation-fill-mode: backwards !important;
  -o-animation-fill-mode: backwards !important;
  animation-fill-mode: backwards !important;
  overflow: hidden;
}
.invoiceRegistration .in {
  overflow: visible !important;
}
.invoiceRegistration .panel-title > a {
  color: #428bca;
  text-decoration: none;
}
.invoiceRegistration .panel-title > a:hover {
  text-decoration: none;
  cursor: pointer;
}
.viewInvoiceAddress label {
  color: #2c3e50;
}
.viewInvoiceAddress pre {
  margin: 0;
  color: #e74c3c;
}
.editable-click,
a.editable-click {
  border-bottom: none;
}
.colorgraph {
  height: 2px;
  border-top: 0;
  background: #357ebd;
  border-radius: 5px;
}
.form-group {
  margin: 0;
}
.datepicker.dropdown-menu {
  border: 2px solid #1abc9c;
}
.datepicker.dropdown-menu .btn-today {
  color: #fff;
  background-color: #2ecc71;
}
.datepicker.dropdown-menu .btn-primary {
  color: #fff;
  background-color: #16a085;
}
.datepicker.dropdown-menu .btn {
  text-indent: 7px;
}
.datepicker.dropdown-menu button,
.timepicker.dropdown-menu button {
  color: #000;
  border: 0;
  padding-left: 0; /* makes the text left aligned /
    margin: 2px; / more space on small screen tablet for easy selection*/
  background: #fff;
}
.datepicker.dropdown-menu button:hover {
  background: #1abc9c;
}
button.DTTT_button,
div.DTTT_button,
a.DTTT_button {
  position: relative;
  display: inline-block;
  margin-right: 3px;
  padding: 5px 8px;
  border: 1px solid #999;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  color: #fff !important;
  border-radius: 2px;
  box-shadow: 1px 1px 3px #ccc;
  background: #fff;
  background: linear-gradient(to bottom, #d9534f 0%, #d9534f 89%, #d9534f 100%);
}
button.DTTT_button:hover,
div.DTTT_button:hover,
a.DTTT_button:hover {
  background: linear-gradient(to bottom, #d43f3a 0%, #d43f3a 89%, #d43f3a 100%);
}
.dataTables_paginate .disabled {
  color: #777 !important;
  border: 1px solid #ddd !important;
  cursor: not-allowed !important;
}
.dataTables_filter {
  margin-top: 10px;
  margin-bottom: 10px;
}
.dataTables_filter label {
  display: inline;
}
.dataTables_filter label input[type=search] {
  display: inline;
  height: 30px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  margin-left: 5px;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  transition: 0.5s ease-in-out all;
}
.dataTables_filter label input[type=search]:focus {
  border-color: #66afe9;
  box-shadow: 0 1px 1px rgba(0,0,0,0.075) inset, 0 0 8px rgba(102,175,233,0.6);
  outline: 0 none;
}
.dataTables_paginate {
  float: right;
  margin-top: 20px;
  margin-bottom: 20px;
}
.dataTables_paginate .previous {
  display: inline;
  padding: 10px;
  text-decoration: none;
}
.dataTables_paginate .paginate_button {
  display: inline;
  padding: 10px;
  border: 1px solid #428bca;
  cursor: pointer;
  text-decoration: none;
}
.dataTables_paginate .current {
  display: inline;
  padding: 10px;
  color: #fff;
  cursor: default;
  background-color: #428bca;
  border: 1px solid #428bca;
  text-decoration: none;
}
.ui-view-container {
  position: relative;
}
[ui-view].ng-enter,
[ui-view].ng-leave {
  position: absolute;
  left: 0;
  right: 0;
  transition: all 0.7s ease-in-out;
}
[ui-view].ng-enter {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
[ui-view].ng-enter-active {
  opacity: 1;
  -ms-filter: none;
  -webkit-filter: none;
          filter: none;
}
[ui-view].ng-leave {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
[ui-view].ng-leave-active {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.open > .login {
  -webkit-animation: 2s my_animation;
  -o-animation: 2s my_animation;
  animation: 2s my_animation;
}
.google-plus {
  margin: 5px;
  background-color: #dd4b39;
  border: 1px solid #d54331;
}
.dropdown-menu li.google-plus > a {
  color: #fff;
  font-weight: 700;
}
.dropdown-menu li.google-plus > a:hover {
  background-color: #d54331;
}
.local-login {
  margin: 5px;
  background-color: #444;
  border: 1px solid #3b3b3b;
}
.dropdown-menu li.local-login > a {
  color: #fff;
  font-weight: 700;
}
.dropdown-menu li.local-login > a:hover {
  background-color: #3b3b3b;
}
.login-facebook {
  margin: 5px;
  background-color: #3b5998;
  border: 1px solid #335190;
}
.dropdown-menu li.login-facebook > a {
  color: #fff;
  font-weight: 700;
}
.dropdown-menu li.login-facebook > a:hover {
  background-color: #335190;
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li.local-login > a {
    color: #fff;
    font-weight: 700;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li.local-login > a:hover {
    background-color: #3b3b3b;
  }
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li.google-plus > a {
    color: #fff;
    font-weight: 700;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li.google-plus > a:hover {
    background-color: #d54331;
  }
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li.login-facebook > a {
    color: #fff;
    font-weight: 700;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li.login-facebook > a:hover {
    background-color: #335190;
  }
}
@-webkit-keyframes my_animation {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translateX(0) rotateX(90deg);
    transform: translateX(0) rotateX(90deg);
  }
  100% {
    opacity: 1;
    -ms-filter: none;
    -webkit-filter: none;
            filter: none;
    -webkit-transform: translateX(0) rotateX(0deg);
    transform: translateX(0) rotateX(0deg);
  }
}
@-o-keyframes my_animation {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translateX(0) rotateX(90deg);
    transform: translateX(0) rotateX(90deg);
  }
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translateX(0) rotateX(0deg);
    transform: translateX(0) rotateX(0deg);
  }
}
@keyframes my_animation {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translateX(0) rotateX(90deg);
    transform: translateX(0) rotateX(90deg);
  }
  100% {
    opacity: 1;
    -ms-filter: none;
    -webkit-filter: none;
            filter: none;
    -webkit-transform: translateX(0) rotateX(0deg);
    transform: translateX(0) rotateX(0deg);
  }
}
span.twitter-typeahead .tt-dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,0.15);
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0,0,0,0.175);
  background-clip: padding-box;
}
span.twitter-typeahead .tt-suggestion > p {
  display: block;
  padding: 3px 20px;
  margin-bottom: 0;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}
span.twitter-typeahead .tt-suggestion > p:hover,
span.twitter-typeahead .tt-suggestion > p:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  background-color: #428bca;
}
span.twitter-typeahead .tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #428bca;
}
span.twitter-typeahead {
  width: 100%;
}
.input-group span.twitter-typeahead {
  display: block !important;
}
.input-group span.twitter-typeahead .tt-dropdown-menu {
  top: 32px !important;
}
.input-group.input-group-lg span.twitter-typeahead .tt-dropdown-menu {
  top: 44px !important;
}
.input-group.input-group-sm span.twitter-typeahead .tt-dropdown-menu {
  top: 28px !important;
}
.header .navbar-brand {
  padding-right: 0;
  margin-right: 30px;
}
.header li > a {
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 0;
}
.navbar {
  border-radius: 0;
}
.navbar-nav.navbar-left:first-child > li:first-child a {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
@media (min-width: 768px) {
  .navbar-collapse .navbar-nav.navbar-left:first-child > li:first-child a {
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
  }
}
