.invoice {
  padding-bottom: 50px;
  background-color: #ecf0f1;
  @import editOne
  @import fromAddressViewList
  @import viewAddress
  @import viewList
  @import registration
}

.select2DropDown {
  min-width: 130px !important;
}
