.toAddessViewList {
  alert-invoice-address-update {
    position: fixed;
    top: 45%;
    width: 100%;
    z-index: 999;
    margin-top: -50px;
    margin-left: -15px;
  }
  .header-image {
    height: 300px;
    margin-top: 50px;
    background-image: url('/images/ensure-success.jpg');
    background-position: center center;
    background-size: cover;
    .product-header {
      h1 {
        color: #1F1F1F;
        font-weight: 300;
      }
      p {
        color: #bdc3c7
        font-weight: 100;
        font-size: 20px;
      }
    }
  }
}
