.viewList {
  alert-invoice-pdf-download, alert-invoice-update-status {
    position: fixed;
    z-index: 999;
    top: 35%;
    left: 45%;
    margin-top: -50px;
    margin-left: -100px;
  }
  thead > tr > th:first-child {
    width: 240px;
  }
  .select2-container {
    min-width: 120px;
    max-width: 120px;
    margin-left: 4px;
  }
  .top-margin {
    position: relative;
    top: 8px;
  }
}

.select2DropDown {
  min-width: 130px !important;
}
