
  .editable-click, a.editable-click {
    border-bottom: none;
  }

  .colorgraph {
    height: 2px;
    border-top: 0;
    background: #357ebd;
    border-radius: 5px;
  }

  .form-group {
    margin: 0
  }

  /* ngStrap Datepicker */
  .datepicker.dropdown-menu{
    border: 2px solid #1abc9c;
    .btn-today {
      color: #fff;
      background-color: #2ecc71;
    }
    .btn-primary {
      color: #fff;
      background-color: #16a085;
    }
    .btn {
      text-indent: 7px;
    }
  }
  .datepicker.dropdown-menu button, .timepicker.dropdown-menu button {
    color: #000;
    border: 0;
    padding-left: 0; /* makes the text left aligned /
    margin: 2px; / more space on small screen tablet for easy selection*/
    background: #fff;

  }
  .datepicker.dropdown-menu button:hover {
    background: #1abc9c;
  }

  alert-info {
    position    : fixed;
    z-index     : 999;
    top         : 35%;
    width       : 100%;
    margin-top  : -50px;
    margin-left  : -15px;
  }

  /*use for grid alignment*/
  .row-centered {
    text-align:center;
  }
  .col-centered {
    display:inline-block;
    float:none;
    text-align:left;
  }

  .marginTop {
    margin-top: 10px;
  }

  .image-header {
    background-image: url('/images/ensure-success.jpg');
  }
