
  .open > .login {
    animation: 2s my_animation;
  }

  @keyframes my_animation {
    0% { opacity:0;
      transform: translateX( 0 ) rotateX( 90deg );
    }
    100%{
      opacity: 1;
      transform: translateX( 0 ) rotateX( 0deg );
    }
  }

  .google-plus {
    margin: 5px;
    background-color: #dd4b39;
    border: 1px solid #d54331;
  }

  .dropdown-menu li.google-plus > a {
    color: #fff;
    font-weight: 700;
    &:hover {
      background-color: #d54331;
    }
  }

  .local-login {
    margin: 5px;
    background-color: #444;
    border: 1px solid #3b3b3b;
  }

  .dropdown-menu li.local-login > a {
    color: #fff;
    font-weight: 700;
    &:hover {
      background-color: #3b3b3b;
    }
  }

  .login-facebook {
    margin: 5px;
    background-color: #3b5998;
    border: 1px solid #335190;
  }

  .dropdown-menu li.login-facebook > a {
    color: #fff;
    font-weight: 700;
    &:hover {
      background-color: #335190;
    }
  }

  @media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li.local-login > a {
      color: #fff;
      font-weight: 700;
      &:hover {
        background-color: #3b3b3b;
      }
    }
  }

  @media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li.google-plus > a {
      color: #fff;
      font-weight: 700;
      &:hover {
        background-color: #d54331;
      }
    }
  }

  @media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li.login-facebook > a {
      color: #fff;
      font-weight: 700;
      &:hover {
        background-color: #335190;
      }
    }
  }
