
  {% include 'commons/header.html' %}
  <div class="index">
    <div class="header-image image-header">
      <div class="container display-table">
        <div class="display-table-inner">
          <div class="row">
            <div class="col-xs-12 product-header">
              <h2 class="header">Quotation And Invoicing System</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid body">
      <h3> Our Clients </h3>
      <div class="col-xs-2">
        <img src="/images/alflesco.png" class="img-thumbnail"/>
      </div>
      <div class="col-xs-2">
        <img src="/images/edb.png" class="img-thumbnail"/>
      </div>
      <div class="col-xs-2">
        <img src="/images/jasper.png" class="img-thumbnail"/>
      </div>
      <div class="col-xs-2">
        <img src="/images/mongo.png" class="img-thumbnail"/>
      </div>
      <div class="col-xs-2">
        <img src="/images/obci.png" class="img-thumbnail"/>
      </div>
      <div class="col-xs-2">
        <img src="/images/tibco.png" class="img-thumbnail"/>
      </div>
      <div class="row-centered">
        <div class="col-xs-2 col-centered marginTop">
          <img src="/images/hht.png" class="img-thumbnail"/>
        </div>
        <div class="col-xs-2 col-centered marginTop">
          <img src="/images/ccbizmate.png" class="img-thumbnail"/>
        </div>
        <div class="col-xs-2 col-centered marginTop">
          <img src="/images/ccbr.png" class="img-thumbnail"/>
        </div>
      </div>
    </div>
  </div>
  {% include 'commons/footer.html' %}
