@import 'importSheets/font_Face'

.invoiceRegistration {
  .form-group {
    position: relative;
    //margin-bottom: 20px;
    .lookup {
      padding: 0;
      //margin-bottom: 20px;
      .glyphicon {
        position: absolute;
        right: 0;
        padding: 50px 12px;
      }
      .glyphicon-eye-open {
        &:hover:before {
          cursor: pointer
        }
      }
    }
  }
  label {
    font-size: 16px;
    color: rgb(95, 92, 92);
  }
  label.gothic {
    font-size: 22px;
    color: #428bca;
  }
  .header {
    font-size: 3em;
    color: #428bca;
  }
  button.gothic {
    font-weight: 900;
    color: #428bca;
  }
  input {
    font-size: 16px;
    font-weight: 900;
    color: #333;
  }
  textarea {
    font-size: 16px;
    font-weight: 900;
    color: #333;
  }
  .addItem {
    margin-bottom: 10px;
    .btn {
      color: #16a085;
      font-weight: 800;
    }
  }
  .save {
    margin-bottom: 10px;
    .form-group {
      margin-bottom: 10px;
      input {
        color: #e74c3c;
      }
    }
  }
  .delete {
    margin-left: 3px;
    margin-right: 3px;
  }

  .am-collapse {
    animation-duration: .3s !important;
    animation-timing-function: ease !important;
    animation-fill-mode: backwards !important;
    overflow: hidden;
  }

  .in {
    overflow: visible !important;
  }

  .panel-title > a {
    color: #428bca;
    text-decoration: none;
    &:hover {
      text-decoration: none;
      cursor: pointer;
    }
  }
}
