@import 'nib'
@import salesRepresentativeRegistration
@import salesRepresentativeListing
@import customerRegistration
@import quotationRegistration
@import common
@import typeahead
@import header
@import footer
@import invoice
@import salesRepresentative

.index {
  .header-image {
    height: 500px;
    margin-top: 50px;
    background-image: url('/images/ensure-success.jpg');
    background-position: center center;
    background-size: cover;
    .product-header {
      h2 {
        color: #fff;
        font-weight: 300;
      }
      p {
        color: #bdc3c7
        font-weight: 100;
        font-size: 20px;
      }
    }
  }
  .body {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #ecf0f1;
  }
  .jumbotron {
    background-color:#bdc3c7;
  }
}
