
{% include 'commons/header.html' %}
<div class="container customerRegistration">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
      <form role="form" name="updateCustomer" ng-submit="vm.updateCustomer(updateCustomer)">
        <h2>Edit <small>Customer.</small></h2>
        <hr class="colorgraph">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group">
              <input type="text" name="firstName" class="form-control input-sm" placeholder="First Name" ng-model="vm.firstName">
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group">
              <input type="text" name="lastName" class="form-control input-sm" placeholder="Last Name" ng-model="vm.lastName">
            </div>
          </div>
        </div>
        <div class="form-group">
          <input type="text" name="department" class="form-control input-sm" placeholder="Department" ng-model="vm.department">
        </div>
        <div class="form-group">
          <input type="text" name="position" class="form-control input-§" placeholder="Position" ng-model="vm.position">
        </div>
        <div class="form-group">
          <input type="text" name="personInCharge"  class="form-control input-sm" placeholder="Person in Charge" ng-model="vm.personInCharge">
        </div>
        <div class="form-group">
          <input type="text" name="phoneNumber" class="form-control input-sm" placeholder="Phone Number" ng-model="vm.phoneNumber">
        </div>
        <div class="form-group">
          <input type="text" name="postalCode" class="form-control input-sm" placeholder="Postal Code" ng-model="vm.postalCode">
        </div>
        <div class="form-group">
          <input type="text" name="customerAdd1" class="form-control input-sm" placeholder="Customer Address 1" ng-model="vm.customerAdd1">
        </div>
        <div class="form-group">
          <input type="text" name="customerAdd2" class="form-control input-sm" placeholder="Customer Address 2" ng-model="vm.customerAdd2">
        </div>
        <div class="form-group">
          <input type="text" name="customerAdd3" class="form-control input-sm" placeholder="Customer Address 3" ng-model="vm.customerAdd3">
        </div>
        <div class="form-group">
          <input type="email" name="email" class="form-control input-sm" placeholder="Email" ng-model="vm.email">
        </div>
        <div class="form-group">
          <input type="text" name="paymentTerms" id="add1" class="form-control input-sm" placeholder="Payment Terms" ng-model="vm.paymentTerms">
        </div>
        <hr class="colorgraph">
        <div class="row">
          <div class="col-xs-12 col-md-5">
            <button type="submit" class="btn btn-primary btn-block btn-md">Update</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
