.registration {
  .body {
    padding-top: 50px;
  }
  .header-image {
    height: 300px;
    margin-top: 50px;
    background-position: center center;
    background-size: cover;
    .product-header {
      .header {
        color: #1abc9c;
        font-weight: 500;
      }
      p {
        color: #1abc9c
        font-weight: 400;
        font-size: 25px;
      }
    }
  }
  input {
    margin-bottom: 5px;
  }
}
