{% include 'commons/header.html' %}

<div class="invoice">
  <div class="toAddessViewList">
    <div class="container-fluid">
      <alert-invoice-address-update class="text-center"></alert-invoice-address-update>
    </div>
    <div class="header-image">
      <div class="container display-table">
        <div class="display-table-inner">
          <div class="row">
            <div class="col-xs-12 product-header">
              <h1><$ __('invoice.address.name') $></h1>
              <p><$ __('invoice.address.to') $></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container" ng-cloak ng-show="showContent">
      <table datatable="" dt-options="dtOptions" dt-columns="dtColumns"
      class="table table-striped table-bordered">
      </table>
    </div>
  </div>
</div>

{% include 'commons/footer.html' %}
