<div class="viewOneInvoice">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="col-sm-6">
          <h5>Mcube.Plus Heart Inc.</h5>
          <p>Dearcity Akasaka Nishikan 306</p>
          <p>Tokyo, 107-0052</p>
          <p>Japan</p>
          <p>Phone: 09155839276</p>
          <p>Email: canino_jories@hotmail.com</p>
        </div>
        <div class="col-sm-2">
          col-sm-2
        </div>
        <div class="col-sm-4">
          <div class="pull-right">
            col-sm-4
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
