  {% include 'commons/header.html' %}

  <div class="invoice">
    <div class="viewList">
      <div class="header-image image-header">
        <div class="container display-table">
          <div class="display-table-inner">
            <div class="row">
              <div class="col-xs-12 product-header">
                <h1 class="header"><$ __('invoice.registration.heading.Invoice') $></h1>
                <p><$ __('invoice.registration.heading.Registration') $></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container body">
        <alert-invoice-pdf-download></alert-invoice-pdf-download>
        <alert-invoice-update-status></alert-invoice-update-status>
      </div>
      <div class="container-fluid" ng-cloak ng-show="showContent">
        <table datatable="" dt-options="dtOptions" dt-columns="dtColumns"
        class="table table-striped table-bordered">
        </table>
      </div>
    </div>
  </div>

  {% include 'commons/footer.html' %}
